mixin featured(featured)
	.main.col-md-3.col-sm-6.col-xs-6
		article(role="article", itemscope itemtype="http://schema.org/BlogPosting").main-post
			a(href='/overwatch/post/' + featured.slug).post-image: img(src=featured._.image.thumbnail(250,250), alt=featured.title).img-responsive
			.main-info
				h4(itemprop='name').main-title
					a(href='/overwatch/post/' + featured.slug, itemprop='url')=featured.title