mixin featured(featured)
	//.main.col-md-3.col-sm-4.col-xs-4
	#featured.col-md-3.col-sm-3.col-sm-3
		article(role="article", itemscope itemtype="http://schema.org/BlogPosting").main-post
			a(href='/overwatch/post/' + featured.slug).post-image: img(src=featured._.image.thumbnail(250,255), alt=featured.title).img-responsive.img-thumbnail
			.main-info
				h2(itemprop='name').main-title
					a(href='/overwatch/post/' + featured.slug, itemprop='url')=featured.title
