mixin link(link)
	.col-sm-4
		article(role="article", itemscope itemtype="http://schema.org/BlogPosting").post-card
			h5(itemprop='name' style='padding-top: 15px; padding-left: 10px').post-title
				a(href='/vods/vod/' + link.slug, itemprop='url')=link.label
			div.poviFrame
				a.youtube(href=link.href)
			.post-summary
				.post-content-brief(itemprop='description')
					<strong>Hero: </strong> 
					each cat in link.tags
						a(href='/links/' + cat.key)= cat.name
					br
					if link.map
						br
						<strong>Map: </strong>
						=link.map
					if link.skill
						br
						<strong>Skill: </strong>
						=link.skill