mixin link(link)
	.col-sm-4
		article(role="article", itemscope itemtype="http://schema.org/BlogPosting").post-card
			div.poviFrame
				iframe(src=link.href, allowfullscreen, frameborder='0')
			.post-summary
				//.post-byline
					.post-author: a(href='/overwatch/post/' + post.slug)=post.author.name.full
					//- .date-stamp: em=moment(post.publishedDate).fromNow()

				h4(itemprop='name').post-title
					a(href='/vods/vod/' + link.slug, itemprop='url')=link.label
				.post-content-brief(itemprop='description')
					<strong>Hero: </strong> 
					each cat in link.tags
						a(href='/vods/' + cat.key)= cat.name
					br
					<strong>Map: </strong>
					=link.map
					br
					<strong>Skill: </strong>
					=link.skill
					br
					<strong>Player: </strong>
					=link.player
		
