mixin main(main)
	#main.main.col-md-6.col-sm-6.col-xs-12
		article(role="article", itemscope itemtype="http://schema.org/BlogPosting").main-post
			a(href='/overwatch/post/' + main.slug).post-image: img(src=main._.image.scale(), alt=main.title,,data-src=main._.image.src).img-responsive.img-thumbnail
			.main-info
				h2(itemprop='name').main-title
					a(href='/overwatch/post/' + main.slug, itemprop='url')=main.title