//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row
		.col-sm-4
			h5.footer-heading About
			p Overwatchly provides quality content about competitive Overwatch. We create meta analysis reports using data, in-depth videos, written guides and strategy articles to help improve your skill rank!
			//ul.list-inline
				li: a(href='/about') More about SydJS
				li: a(href='mailto:craig.sharkie+sydjs@gmail.com') Contact us

		.col-sm-8
			.row
				.col-xs-4
					h5.footer-heading Articles
					ul
						li: a(href='/overwatch') Overwatch
						li: a(href='/overwatch/strategy') Strategy
						li: a(href='/overwatch/analysis') Analysis
				.col-xs-4
					h5.footer-heading Videos
					ul
						li: a(href='/vods') POV Pro VODs
						li: a(href='https://www.youtube.com/channel/UC1dg28xtaEbuAuPTz4y3zzw' target='_blank') YouTube
				.col-xs-4
					h5.footer-heading Coaching
					ul
						li: a(href='/members') Members
						li Coaching (coming soon)
	.row.footer-copyright
		p &copy; 2016 Overwatchly. Overwatch &copy; 2016 Blizzard Entertainment.
