//- SITE FOOTER
.promotion
	p 
		a(href="/" title="Overwatchly") Overwatchly 
		| is hosting a $50 Blizzard ‑ Battle.net Gift Card Giveaway! Simply 
		a(href='/join', data-from=page.path).js-auth-trigger Join 
		| to be entered.