extends ../../layouts/default

block intro
	.back-bar
		.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
			.xs-right: a(href='/vods').text-muted &larr; Back to POV VODs


block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article.full-post
			if !link
				h2 Invalid VOD.
			else
				header
					h1.mb-0= link.label
					br 
					//h4.blog-post__author Shared
						if link.publishedDate
							|  on #{moment(link.publishedDate).format('MMMM D, YYYY')}
					//- sharing buttons
					//.share-buttons
						//span.share-button
							.fb-like(data-href="http://www.sydjs.com/blog/link/" + link.slug, data-colorscheme="light", data-layout="button_count", data-action="like", data-show-faces="false", data-send="false")
						span.share-button
							a(href="https://twitter.com/share", data-via="overwatchly", data-hashtags="overwatch", data-count="button", data-dnt="true").twitter-share-button Tweet
						span.share-button
							.g-plusone(data-size="medium")
				|	
				| <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				| <!-- overwatchly post -->
				| <ins class="adsbygoogle"
				|      style="display:block"
				|      data-ad-client="ca-pub-9309581458025353"
				|      data-ad-slot="8680912020"
				|      data-ad-format="auto"></ins>
				| <script>
				| (adsbygoogle = window.adsbygoogle || []).push({});
				| </script>
				| 
				div.poviFrame
					a.youtube(href=link.href)
				|	
				| <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				| <!-- overwatchly post -->
				| <ins class="adsbygoogle"
				|      style="display:block"
				|      data-ad-client="ca-pub-9309581458025353"
				|      data-ad-slot="8680912020"
				|      data-ad-format="auto"></ins>
				| <script>
				| (adsbygoogle = window.adsbygoogle || []).push({});
				| </script>
				| 