.latest-posts ul{
	float: left;
	padding: 0 9px;
	margin: 0;
	list-style: none;
}

li.post {
	width: 100%;
    float: left;
    margin-bottom: 0px;
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    -webkit-transition: 70ms all ease-out;
    -moz-transition: 70ms all ease-out;
    transition: 70ms all ease-out;
}
li.post:hover {
	background-color: rgba(0, 0, 0, 0.07);
}
.latestpost .post-image {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.4);
}
li.post:last-child {
	border-bottom: none;
}
.latestpost .post-image {
	width: 30%;
    height: 100%;
    float: left;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: 150ms all ease-out;
    -moz-transition: 150ms all ease-out;
    transition: 150ms all ease-out;
}
.latestpost .info {
	width: 70%;
    float: left;
    padding-left: 20px;
}
.latestpost .info h4 {
	padding: 0;
    margin: 0;
    font-size: 1.8rem;
    line-height: 26px;
}
.latestpost .info p {
	margin-top: 5px;
}

.main-post {
    position: relative;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: 60ms all ease-out;
    -moz-transition: 60ms all ease-out;
    transition: 60ms all ease-out;
    background-color: #000;
    border: 3px solid rgba(255, 255, 255, 0.5);
    height: 250px;
    text-align: left;
}
.main-post:hover {
	cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.main-post img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.9;
}
.main-info {
	position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    z-index: 10;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 12px 15px;
}
.main-info h2 {
	padding: 0;
    margin: 0;
    font-size: 1.8rem;
    line-height: 26px;
}
.main-info h2 a {
	color: #FFF;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
	font-size: 17px;
	line-height: 13px !important;
}
#featured {
	margin-bottom: 10px;
}
.promote {
    color: black !important;
}
.promotion {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 25px;
    background: #333;
    z-index: 1000;
    text-align: center;
    font-size: 14px;
}
.promotion p {
    color: white;
}
.promotion a {
    -webkit-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
    outline: none;
    color: rgba(255,255,255,0.6);
    font-weight: 300;
    font-size: 14.3px;
}
.promotion a:hover, a:visited {
    color: white;
    text-decoration: none;
}
@media (max-width: 767px) {
	.main-post {
		height: 125px;
	}
	#main .main-post {
		margin-bottom: 10px;
	}
    .main-info {
        padding: 5px;
    }
    .main-info h2 a {
        font-size: 14px;
        line-height: 13px !important;
        text-shadow: none;
    }
}